/*body{background-color: #222;}*/
.circular {
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.2), inset 0 4px 5px rgba(0,0,0,.6), inset 0 1px 0 rgba(0,0,0,.6);
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,.2), inset 0 4px 5px rgba(0,0,0,.6), inset 0 1px 0 rgba(0,0,0,.6);
  box-shadow: 0 1px 0 rgba(255,255,255,.2), inset 0 4px 5px rgba(0,0,0,.6), inset 0 1px 0 rgba(0,0,0,.6);

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

body {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  background-color: white;

  text-align: center;
}
a:link, a:visited {
  color: #000;
}
a:active, a:hover {
  color: #666;
}
p.header {
  font-size: small;
}
p.header span {
  font-weight: bold;
}
p.footer {
  font-size: x-small;
}
div.content {
  margin: auto;
  width: 600px;
}
div.missing {
  margin: auto;
  position: relative;
  top: 50%;
  width: 193px;
}
div.missing a {
  height: 63px;
  position: relative;
  top: -31px;
}
div.missing img {
  border-width: 0px;
}
div#unityPlayer {
  cursor: default;
  height: 450px;
  width: 750px;
}